/*
Daniel Gardashnik 206389363
Lior Fridman 206798902
*/

.react-calendar {
  background: #eeeeee;
  padding: 1rem;
  border-radius: 10px;
  display: none;
}

.react-calendar button {
  box-sizing: border-box;
  min-width: 30px;
  height: 40px;
  padding: 0 !important;
  background: transparent;
  border: 0;
}

.react-date-picker__inputGroup {
  background-color: white;
}
