.formContainer {
  border: none;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 60%;
  background-color: #00adb5;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.formLabel {
  display: block;
  color: #eeeeee;
}

.formInput,
.textareaInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formSelect {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.formButton {
  padding: 10px 20px;
  background-color: #393e46;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inputBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
